
address{
    font-size: 20px;
}
search{
    display: flex;
    width: 100%;
}
search input{
    flex: 1;
    padding: 8px;
}

search button{
    padding: 20px;
}

#logo img{
    max-width: 150px;

}
.botones{
    display: flex;
}
.botones li{
    flex: 1 1 50%;
    font-size: 30px
}
.navegacion ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
.navegacion ul li{
    padding: 20px 0;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
section button{
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(219, 191, 30);
    color: white;
    border: 1px;
}
#latte{
    width: 100%;
}
#brands{
    display: flex;
    padding-top: 20px;
}
#brands a{
    flex: 1 1 50%;
    font-size: 20px
}